<!doctype html>
<html ng-app="app">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Load js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type='text/javascript'
            src='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>
    <script src="js/app.js"></script>

    <!-- Some css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css'
          type='text/css' media='all'/>
    <link rel="stylesheet" href="css/main.css">

    <title>MAL health check</title>
</head>

<body ng-controller="appController">

<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#">MAL Health Check</a>
    </div>
</nav>

<header class="text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form ng-submit="reloadLists()">
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="text" class="form-control form-control-lg" placeholder="MAL username"
                                   ng-model="usernameInput">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">Check my list</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>

<div class="container main-container" ng-if="loaded">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item entity-tabs">
            <a class="nav-link active" id="anime-tab" data-toggle="tab" href="#anime" role="tab" aria-controls="anime" aria-selected="true" ng-click="loadMALList('anime')">My Anime List</a>
        </li>
        <li class="nav-item entity-tabs">
            <a class="nav-link" id="manga-tab" data-toggle="tab" href="#manga" role="tab" aria-controls="manga" aria-selected="false" ng-click="loadMALList('manga')">My Manga List</a>
        </li>
    </ul>
    <div class="report-padding"></div>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="{{current}}" role="tabpanel" aria-labelledby="{{current}}-tab" ng-repeat="current in ['anime', 'manga']">
            <div class="container main-container" ng-if="error[current]">
                <div class="alert alert-danger" role="alert">
                    {{error[current]}}
                </div>
            </div>

            <div class="reports-summary alert alert-{{getReportStyle(current)}}" role="alert" ng-if="data[current].stats">
                <h4 class="alert-heading">{{getReportGlobalStatus(current).title}}</h4>
                <p class="angular-with-newlines">{{getReportGlobalStatus(current).body}}</p>
                <hr>
                <p class="mb-0">{{getReportGlobalStatus(current).footer}}</p>
            </div>

            <ul class="list-group report-main" ng-if="data[current]">
                <li class="list-group-item" ng-repeat="(key, value) in data[current].reports">
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="report-title" data-toggle="collapse" href="#report-items-{{current}}-{{key}}" aria-expanded="false" aria-controls="report-items-{{current}}-{{key}}">{{value.description}}</a>
                        <span class="badge badge-{{badgeStyleForCategory(value.category)}} badge-pill">{{value.items.length}}</span>
                    </div>

                    <div class="collapse report-items" id="report-items-{{current}}-{{key}}">
                        <div class="report-padding"></div>
                        <p class="text-muted small">{{value.fix}}</p>
                        <div class="report-item" ng-repeat="item_id in value.items">
                            <a href="{{linkForID(current, item_id)}}" class="entity-name">{{titleForID(current, item_id)}}</a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item report-extras" ng-if="data[current].stats.issues.suggestion">
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="report-title" data-toggle="collapse" href="#report-items-{{current}}-suggestions" aria-expanded="false" aria-controls="report-items-{{current}}-suggestions">Suggestions</a>
                        <span class="badge badge-{{badgeStyleForCategory('suggestion')}} badge-pill">{{data[current].stats.issues.suggestion}}</span>
                    </div>
                    <div class="collapse report-items" id="report-items-{{current}}-suggestions">
                        <div class="report-extras-item" ng-repeat="(key, value) in data[current].extra">
                            {{value.description}}
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>
